body{
    background-image: url(imagenes/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    color: rgba(255, 255, 255, 0.867);
    background-color: rgba(42, 41, 117, 0.516);
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    font-size:small;
    
}
.logoimg{
    height: 62px;;
    width: 50px;

}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.presentaciones{
    display: flex;
    flex-direction:column;
    width: 200px;
    justify-content: space-around;
    color: rgb(9, 9, 9);
    
}
.presentacion1{
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 231, 19, 0.826);
    font-size: small;
    border-radius: 40px;
}
.presentacion2{
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size:small;
    background-color: rgba(25, 247, 129, 0.812);
    border-radius: 40px;
}
.presentacion3{
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size:small;
    background-color: rgba(255, 214, 67, 0.834);
    border-radius: 40px;
}

aside{
   
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: rgba(0, 85, 255, 0.185);
    color: antiquewhite;
    border-radius: 30px;
    
}

.articleresumen{
    padding: 10px;
    font-size:small;
}